###PROTECT FILES###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule zatrudnij-programiste index.html
RewriteRule kim-jestem about.html
RewriteRule oferta-tworzenia-oprogramowania offer.html
RewriteRule cv-programista-html-javascript cv.html
RewriteRule kontakt-programista contact.html